<p><%= link_to "Home", root_path %></p>
<p><%= link_to "About", "/homes/about" %></p>
<p><%= link_to "login", "/devise/registrations/new" %></p>
<p><%= link_to "sign up", "/devise/sessions/new" %></p>

<h1>welcome to Bookers</h1>